.env
build/
.gradle/
target/
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar
*.war
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
bin/
out/
.mvn/
screenshots/
Image & Video/
NLDB_Project_Documentation.md
